@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="~/Scripts/styles/bootstrap.css" />
    <link rel="stylesheet" href="~/Scripts/styles/main.css">
</head>
<body ng-app="waterIntakeCalcWebApp">

    <div class="container">
        <div ng-view=""></div>
    </div>

    <script src="~/Scripts/scripts/ext/jquery.js"></script>
    <script src="~/Scripts/scripts/ext/angular.js"></script>
    <script src="~/Scripts/scripts/ext/bootstrap.js"></script>
    <script src="~/Scripts/scripts/ext/angular-animate.js"></script>
    <script src="~/Scripts/scripts/ext/angular-aria.js"></script>
    <script src="~/Scripts/scripts/ext/angular-cookies.js"></script>
    <script src="~/Scripts/scripts/ext/angular-messages.js"></script>
    <script src="~/Scripts/scripts/ext/angular-resource.js"></script>
    <script src="~/Scripts/scripts/ext/angular-route.js"></script>
    <script src="~/Scripts/scripts/ext/angular-sanitize.js"></script>
    <script src="~/Scripts/scripts/ext/angular-touch.js"></script>
    <script src="~/Scripts/scripts/ext/angular-local-storage.js"></script>
    <script src="~/Scripts/scripts/ext/index.js"></script>

    <script src="~/Scripts/scripts/app.js"></script>
    <script src="~/Scripts/scripts/controllers/main.js"></script>
    <script src="~/Scripts/scripts/controllers/about.js"></script>
    <script src="~/Scripts/scripts/controllers/waterinake.js"></script>
    <script src="~/Scripts/scripts/services/authservice.js"></script>
</body>
</html>
