<div class="sign-in-wrapper" ng-controller="MainCtrl">  
	<ul class="nav nav-tabs nav-justified " id="myTab">
		<li class="active signInTab"><a data-target="#signInTab" data-toggle="tab">Sign In</a></li>
		<li class="signUpTab"><a data-target="#signUpTab" data-toggle="tab">Sign Up</a></li>
	</ul>
	<div class="sign-in-form" >
		<div class="tab-content">
			<div class="tab-pane active" id="signInTab">
				<form name="signInForm" ng-submit="signIn(inCredentials)" novalidate>
					<div class="loader" ng-if="loading"></div>
					<div class="form-group">
						<input class="form-control" type="text" id="inUsername" ng-model="inCredentials.userName" placeholder="Login">
					</div>
						<div class="form-group">
						<input class="form-control" type="password" id="inPassword" ng-model="inCredentials.password" placeholder="Password">
					</div>
					<div class="checkbox">
						<label>
						<input type="checkbox">Remember me
						</label>
					</div>
					<button class="btn" type="submit">Sign In</button>
				</form>
			</div>
			<div class="tab-pane" id="signUpTab">
				<form name="signUpForm" ng-submit="signUp(upCredentials)" novalidate>
					<div class="loader" ng-if="loading"></div>
					<div class="form-group">
						<input class="form-control" type="text" id="upUsername" ng-model="upCredentials.email" placeholder="Login">
					</div>
					<div class="form-group">
						<input class="form-control" type="password" id="upPassword" ng-model="upCredentials.password" placeholder="Password">
					</div>
                    <div class="form-group">
                        <input class="form-control" type="password" id="upConfPassword" ng-model="upCredentials.confirmPassword" placeholder="Confirm password">
                    </div>
					<button class="btn" type="submit">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</div>